div.menu
  span.menuLogo
    h1.homePageLink
      | RetroDuck

  span.menuLinks.hidden
    nav.menuLinksHolder
      a(href="/")
        | Home
      a(href="/")
        | Custom Orders
      a(href="/about_us")
        | About &amp; FAQ
    label.rdLogoInMenu
      | RetroDuck.com
    button.closeMobileMenu
      i.fa.fa-times

  span.menuCartAndUser
    span.shoppingCartMenuIcon
      i.fa.fa-shopping-cart
      nav.shoppingCartMenuIcon--count
        | 0
      nav.shoppingCartMenuIcon--total
        | $0.00
    span.userMenuIcon
      i.fa.fa-user
      nav.userMenuIcon--name
    span.userSignInIcon
      i.fa.fa-user
      span.userSignInIcon--name
        | sign in
    span.mobileMenuBars
      i.fa.fa-bars
    
