div.menu
  span.menuLogo
    | RetroDuck
    em
      | Custom Apparel
  span.menuItems
    a(href="/")
      | Home
    a(href="/")
      | Catalog &amp; Pricing
    a(href="/")
      | Place an order
    a(href="/")
      | Blog
    a(href="/about_us")
      | About &amp; FAQ
    span.shoppingCartMenuIcon
      i.fa.fa-shopping-cart
      em.shoppingCartMenuIcon--count
        | 0
    span.userMenuIcon
      i.fa.fa-user
      em.userMenuIcon--name
      label.logoutButton
        | logout
        
        
    span.userSignInIcon
      i.fa.fa-user
      em.userSignInIcon--name
        | sign in
        
    
