extends components/base

block append content

  div.productPage

    div.socialDesc
    
    div.hiddenOrderId= order_id
      
    if social_items
      each val, index in social_items
        include components/product
