.productPage
  display: block
  margin: 68px auto

  h1
    &.socialOrderHeader
      @extend .light-font
      font-size: 18px
      margin: 0 auto
      text-align: center
      background: #507cc2
      color: rgba(255, 255, 255, 0.85)
      top: 100px
      z-index: 4
      left: 0
      right: 0
      font-weight: normal
      padding: 4px
      box-shadow: 0 2px 2px rgba(0,0,0,0.1)

.rsProduct
  display: block
  width: 800px
  margin: 16px auto
  text-align: center
  border-radius: 4px

  +break-for(iphone)
    width: 100%
    padding-bottom: 12px

  nav
    display: inline-block
    vertical-align: top

    +break-for(iphone)
      display: block
      margin: 0 auto

.rsProduct--desktopName
  @extend .helv-font
  display: block
  font-size: 24px
  padding: 4px 0px
  color: #333
  text-align: center
  text-shadow: 0 2px 8px rgba(205, 205, 205, 0.23)
  margin: 8px auto
  width: 100%
  +break-for(iphone)
    display: none

.rsProduct--desktopDesc
  @extend .light-font
  display: block
  text-align: left
  margin-bottom: 32px
  color: #333
  width: 220px
  font-size: 13px
  +break-for(iphone)
    width: 80%
    margin: 0 auto
    margin-bottom: 14px

.rsProduct--mobileName
  @extend .helv-font
  display: none
  font-size: 24px
  padding: 4px
  color: #333
  text-align: center
  text-shadow: 0 2px 8px rgba(205, 205, 205, 0.23)
  margin: 0px auto
  width: 100%
  +break-for(iphone)
    display: block

.rsProduct--primaryImage
  display: inline-block
  width: 100%
  max-width: 400px
  margin: 64px 32px 32px 32px
  +break-for(iphone)
    margin: 12px auto


.rsProduct--addItemButton__sizeName
  display: inline-block
  font-size: 13px
  padding: 8px
  background: rgb(51, 51, 51)
  width: 18px
  color: white
  border-top-left-radius: 2px
  border-bottom-left-radius: 2px
  font-weight: bold
  border-radius: 50px

.rsProduct--addItemButton__productPrice
  display: inline-block
  font-size: 13px
  padding: 8px
  background: none
  min-width: 25px
  color: #333

.rsProduct--addItemButton__addToCart
  @extend .basic-button
  display: inline-block
  font-size: 13px
  padding: 8px
  background: #5fab7a
  min-width: 25px
  color: white
  border-radius: 4px
  +trans($easybreezy)

  i
    display: inline-block
    font-size: 16px
    margin-right: 8px

  &:hover
    opacity: 0.9

.rsProduct--addItemButton
  @extend .light-font
  display: block
  margin-bottom: 12px
